doctype html
html
    head
        meta(charset="UFT-8")
        title Gulp dev starter kit
        link(rel='stylesheet', href='css/style.css')
    
    body
        h1 This is the Ultimate Prototyping Starter Kits

        include partials/section.pug
        script(type='text/javascript', src='js/bundle.js')
