doctype html
html
    head
        meta 
        title Gulp dev starter kit
        link(rel='stylesheet', href='css/style.css')
    
    body
        h1 This is the Ultimate Prototyping Starter Kit

        include partials/section.pug
